<!-- Fixed navbar -->
<div id="home" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a title="ALPS Thottakkara" class="navbar-brand" href="/">ALPS</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right mainNav">
                <li class="link-home"><a href="#home">Home</a></li>
                <li class="link-about"><a href="#about-us">About Us</a></li>
                <li class="link-staff"><a href="#staff">Meet the Staff</a></li>
                <li class="link-gallery"><a href="#gallery">Gallery</a></li>
                <li class="link-contact"><a href="#contact">Contact Us</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->

<header>
    <app-slider></app-slider>
</header>