footer{
    padding: 50px 0;
    color: #fff;
    background: #242729;
}

.social-sec{
    margin-bottom: 20px;
    h4{
        font-size: 32px;
        font-weight: 300;
    }
    a{
        color: #fff;
        font-size: 32px;
        margin: 0 10px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:focus{
            outline: none;
        }
        &:hover{
            transform: scale(1.2);
        }
    }
}
