<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box-feat">
                    <h3><i class="fa fa-users"></i> Our School</h3>
                    <p>Welcome to ALPS Thottakkara. We hope this simple website will give you an insight into Our School.
                    Our Management and Staff share a strong belief in the value of our school and we are proud of being part of it.
                    Our school is situated in Thottakkara, a small place located in Ottappalam, Kerala - 'The Gods Own Country'.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-feat">
                    <h3><i class="fa fa-eye"></i> Vision</h3>
                    <p>Providing Education through simplicity and raising achievement by working together,
                    ensuring that every child feels safe and secure. Our extremely strong vision
                    of the Headteacher and other staff is very successfully raising standards through the excellent education.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-feat">
                    <h3><i class="fa fa-question-circle"></i> Why ALPS</h3>
                    <p>Without any doubt!! ALPS will be a good start for your child. We will bring up your children in a right way.
                    We pride ourselfs on the family approach we have in school. Please enjoy looking at our website. Teachers performance is
                    managed extremely well and their training is given high priority.</p>
                </div>
            </div>
        </div>
    </div>
</section>