#features{
    padding: 0 0 38px;
    background: #f7f7f7;
    .box-feat{
        padding: 15px 20px 20px 20px;
        margin-top: 40px;
        color: #fff;
        min-height: 260px;
        background: #f372a2;
        h3{
            padding: 10px 0 10px;
            font-weight: 400;
            font-size: 23px;
        }
    }
}

