<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="wow fadeInUp">About Us</h2>
                <p>Alps Thottakkara School located in Ottapalam1, Bemups Ottappalam, Ottapalam - Palakkad (Kerala) is a Co-Educational institution managed by Private Aided. Our school comes under the category of Primary Only.</p>
                <table class="table wow fadeInUp">
                    <tbody>
                        <tr>
                            <td><i class="fa fa-location-arrow"></i> Cluster Name</td>
                            <td>Bemups Ottappalam</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-group"></i> School Type</td>
                            <td>Co-Educational</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-user"></i> School Management</td>
                            <td>Private Aided</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-cutlery"></i> Mid-Day Meal</td>
                            <td>Provided and Prepared in School Premises</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-language"></i> Medium of Instruction</td>
                            <td>Malayalam</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-calendar"></i> Founded In Year</td>
                            <td>1955</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-home"></i> No. of Class Rooms</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-tint"></i> Drinking Water Type</td>
                            <td>Tap Water</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <figure>
                    <img src="/assets/images/about-us.jpg" alt="About Us" class="img-responsive wow fadeInRight">
                </figure>
            </div>
        </div>
    </div>
</section>