<section id="contact">
    <div class="container">
        <h2 class="wow fadeInUp">Contact Us</h2>
    </div>
    <div id="map-canvas" class="wow animated fadeInUp"></div>
    <div class="address text-center">
        <address><strong>ALPS Thottakkara</strong>, Thottakkara (PO),
        Ottapalam 2, Palakkad District, PIN : 679102, Kerala, India.</address>
        <a href="mailto:alpschoolthottakkaraotp@gmail.com">
            <i class="fa fa-envelope-open"></i>
            alpschoolthottakkaraotp@gmail.com
        </a>
    </div>
</section>