<section id="gallery">
    <div class="container">
        <h2 class="wow fadeInUp">Gallery</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="gallery-item wow fadeInUp">
                    <img class="img-responsive" src="/assets/images/varshikam/2011/DSC_0002.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="gallery-item wow fadeInUp">
                    <img class="img-responsive" src="/assets/images/varshikam/2011/DSC_0004.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="gallery-item wow fadeInUp">
                    <img class="img-responsive" src="/assets/images/varshikam/2011/DSC_0050.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="gallery-item wow fadeInUp">
                    <img class="img-responsive" src="/assets/images/varshikam/2011/DSC_0053.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="gallery-item wow fadeInUp">
                    <img class="img-responsive" src="/assets/images/varshikam/2011/DSC_0067.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="gallery-item wow fadeInUp">
                    <img class="img-responsive" src="/assets/images/varshikam/2011/DSC_0084.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>