<section id="staff">
    <div class="container">
        <h2 class="wow fadeInUp">Meet Our Staff</h2>
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <div class="staff-block text-center wow zoomIn">
                    <figure><img class="img-responsive" src="/assets/images/teachers/head-mistress-indira.jpg" alt=""></figure>
                    <h5>Indira V</h5>
                    <p>Head Mistress</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="staff-block text-center wow zoomIn">
                    <figure><img class="img-responsive" src="/assets/images/teachers/sathyavathi.jpg" alt=""></figure>
                    <h5>Sathyavathi</h5>
                    <p>Teacher</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="staff-block text-center wow zoomIn">
                    <figure><img class="img-responsive" src="/assets/images/teachers/sujatha.jpg" alt=""></figure>
                    <h5>Sujatha</h5>
                    <p>Teacher</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="staff-block text-center wow zoomIn">
                    <figure><img class="img-responsive" src="/assets/images/teachers/bindu.jpg" alt=""></figure>
                    <h5>Bindu</h5>
                    <p>Teacher</p>
                </div>
            </div>
        </div>
    </div>
</section>