<section id="staff">
    <div class="container">
        <h2 class="wow fadeInUp">Meet Our Staff</h2>
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <div class="staff-block text-center wow zoomIn">
                    <figure><img class="img-responsive" src="http://via.placeholder.com/200x200" alt=""></figure>
                    <h5>Teacher 1</h5>
                    <p>Head Mistress</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="staff-block text-center wow zoomIn">
                    <figure><img class="img-responsive" src="http://via.placeholder.com/200x200" alt=""></figure>
                    <h5>Teacher 2</h5>
                    <p>Teacher</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="staff-block text-center wow zoomIn">
                    <figure><img class="img-responsive" src="http://via.placeholder.com/200x200" alt=""></figure>
                    <h5>Teacher 3</h5>
                    <p>Teacher</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="staff-block text-center wow zoomIn">
                    <figure><img class="img-responsive" src="http://via.placeholder.com/200x200" alt=""></figure>
                    <h5>Teacher 4</h5>
                    <p>Teacher</p>
                </div>
            </div>
        </div>
    </div>
</section>